

/* #Media Queries
================================================== */
@media only screen and (min-width:992px) and (max-width: 1200px) {
	
	input{
		padding: 30px 20px 10px 20px;
	}
	footer {
		padding: 150px 0 75px;
	}
	
}

@media only screen and (min-width: 960px) and (max-width: 991px) {
	.innerspecial {
		width: 33%;
	}
	#home {
		background-size: cover;
	}

	#o-umetniku .inneraboutright{
		padding: 60px 0 100px;
	}
	#o-umetniku .inneraboutleft{
		padding: 0;
	}
	#o-umetniku .inneraboutleft p {
		font-size: 20px;
		line-height: 30px;   
	}
	.innermenu p{
		font-size: 10px;
	}
	input{
		padding: 30px 150px 10px 20px;
	}
	footer {
		padding: 150px 0 75px;
	}
	#contact{
		background-position: right center;
	}
	
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	
	.innermenu p{
		font-size: 10px;
	}
	input{
		padding: 30px 150px 10px 20px;
	}
	footer {
		 padding: 150px 0 75px; 
	}
	#contact{
		background-position: right center;
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

	footer {
		padding: 120px 0;
	}
	.innerbanner h1{
		font-size: 30px;
		line-height: 45px;

	}

	
	.innermenu p {
		font-size: 13px;
	}
	#contact{
		background-position: right center;
	}
	.innercontactleft, .contactform{
		text-align: center;
		padding-left: 0px; 
	}
	footer .linktop{
		width: 100%;
	}
	footer .social{
		width: 100%;
		padding-top: 8px;
	}
	.sign{
		width: 130px;
		height: auto;
	}
	input{
		width: 100%;
		padding: 30px 35px 10px 20px;
	}
	textarea{
		padding-top: 40px;
	}
	.contactform{
		text-align: left;
	}
	.nav-collapse a{
		color: #fff;
		margin-bottom: 5px;
	}
	header .nav-collapse a{
		margin-bottom: 15px;
		border: 1px solid #000000;
	}
	header.sticky .nav-collapse{padding: 15px 0 40px;}

}

@media only screen and (min-width:1000px) and (max-width: 1400px) {
	
}
@media only screen and (min-width:768px) and (max-width: 999px) {
	
	.content div h2{
		padding: 0;
	}
	#art-categories .container .row{
	padding-bottom: 20px;
}
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
#art-categories .container .row{
	padding-bottom: 20px;
}
	/*.innerbanner{
		padding-left: 100px;
	}*/
	#o-umetniku{
		padding: 0px;
	}
	
	.content div h2{
		padding: 0;
	}
	
	.tab-links li {
		margin: 30px 0;
	}
	

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

	
	.tab-links li {
		margin: 10px 0 0;
	}
	.tab-links{   
		margin-top: 30px;
	}
	.item {		
		font-size: 10px;
	}
	.innermenu p {
		font-size: 8px;
	}
	.tab-links a {
		padding: 8px 10px;
	}
	.innercontactleft p{
		font-size: 11px;
		line-height: 16px;
	}
	.innercontactleft h2, .contactform h2{
		font-size: 15px;
	}
	footer{
		    padding: 70px 0 120px;
	}
	

}

